.sidebar {
  background-color: #383f51;
  border-right: 0.5px solid lightgray;
}
.sidebar hr { 
  height: 0;
  border: 0.5px solid lightgray;
}
.sidebar .center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .center ul .title {
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
}
.sidebar .center ul li:hover {
  background-color: #dd2e2e;
}
.sidebar .center ul li .icon {
  font-size: 22px;
  color: #ffffff;
  margin-right: 5px;
}
.sidebar .center ul li span {
  font-size: 20px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
.sidebar .center ul li .arrow {
  color: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .center ul .subMenuUL .subMenuSP {
  padding-left: 30px;
}
.sidebar .bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sidebar .bottom .coloroption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid blue;
  cursor: pointer;
}

.sidebar .bottom .coloroption:nth-child(1) {
  background-color: rgb(93, 26, 26);
}

.sidebar .bottom .coloroption:nth-child(2) {
  background-color: rgb(30, 11, 11);
}
